Practica6/p6BPEL/bpelContent/USZip.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) 
	JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 
	svn-revision#unknown. -->
<xs:schema xmlns:tns="http://www.unican.es/ss/USZipService"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
	targetNamespace="http://www.unican.es/ss/USZipService">

	<xs:element name="zipCodesByCity" type="tns:zipCodesByCity" />

	<xs:element name="zipCodesByCityResponse"
		type="tns:zipCodesByCityResponse" />

	<xs:complexType name="zipCodesByCity">
		<xs:sequence>
			<xs:element name="arg0" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="zipCodesByCityResponse">
		<xs:sequence>
			<xs:element name="return" type="xs:string" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>