Practica6/p6BPEL/bpelContent/weatherUSService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) 
	JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 
	svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). 
	RI's version is Metro/2.3.1 (UNKNOWN_BRANCH-false; 2015-01-15T16:53:43+0100) 
	JAXWS-RI/2.2.10 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 
	svn-revision#unknown. -->
<definitions
	xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
	xmlns:wsp="http://www.w3.org/ns/ws-policy"
	xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
	xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.cdyne.com/WeatherWS/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	targetNamespace="http://ws.cdyne.com/WeatherWS/"
	name="WeatherServiceService">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://ws.cdyne.com/WeatherWS/"
				schemaLocation="weatherUSService.xsd" />
		</xsd:schema>
	</types>
	<message name="GetCityForecastByZIP">
		<part name="parameters" element="tns:GetCityForecastByZIP" />
	</message>
	<message name="GetCityForecastByZIPResponse">
		<part name="parameters"
			element="tns:GetCityForecastByZIPResponse" />
	</message>
	<message name="GetWeatherInformation">
		<part name="parameters" element="tns:GetWeatherInformation" />
	</message>
	<message name="GetWeatherInformationResponse">
		<part name="parameters"
			element="tns:GetWeatherInformationResponse" />
	</message>
	<message name="GetCityWeatherByZIP">
		<part name="parameters" element="tns:GetCityWeatherByZIP" />
	</message>
	<message name="GetCityWeatherByZIPResponse">
		<part name="parameters" element="tns:GetCityWeatherByZIPResponse" />
	</message>
	<portType name="WeatherSoap">
		<operation name="GetCityForecastByZIP">
			<input
				wsam:Action="http://ws.cdyne.com/WeatherWS/GetCityForecastByZIP"
				message="tns:GetCityForecastByZIP" />
			<output
				wsam:Action="http://ws.cdyne.com/WeatherWS/WeatherSoap/GetCityForecastByZIPResponse"
				message="tns:GetCityForecastByZIPResponse" />
		</operation>
		<operation name="GetWeatherInformation">
			<input
				wsam:Action="http://ws.cdyne.com/WeatherWS/GetWeatherInformation"
				message="tns:GetWeatherInformation" />
			<output
				wsam:Action="http://ws.cdyne.com/WeatherWS/WeatherSoap/GetWeatherInformationResponse"
				message="tns:GetWeatherInformationResponse" />
		</operation>
		<operation name="GetCityWeatherByZIP">
			<input
				wsam:Action="http://ws.cdyne.com/WeatherWS/GetCityWeatherByZIP"
				message="tns:GetCityWeatherByZIP" />
			<output
				wsam:Action="http://ws.cdyne.com/WeatherWS/WeatherSoap/GetCityWeatherByZIPResponse"
				message="tns:GetCityWeatherByZIPResponse" />
		</operation>
	</portType>
	<binding name="WeatherServicePortBinding"
		type="tns:WeatherSoap">
		<soap:binding
			transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<operation name="GetCityForecastByZIP">
			<soap:operation
				soapAction="http://ws.cdyne.com/WeatherWS/GetCityForecastByZIP" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="GetWeatherInformation">
			<soap:operation
				soapAction="http://ws.cdyne.com/WeatherWS/GetWeatherInformation" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="GetCityWeatherByZIP">
			<soap:operation
				soapAction="http://ws.cdyne.com/WeatherWS/GetCityWeatherByZIP" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<service name="WeatherServiceService">
		<port name="WeatherServicePort"
			binding="tns:WeatherServicePortBinding">
			<soap:address
				location="http://localhost:8080/weatherUSService" />
		</port>
	</service>
</definitions>