Practica3/ServicioProveedorDigest/resources/SegurosSS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="SegurosSS" targetNamespace="http://www.unican.es/ss/SegurosSS/" xmlns:types="http://www.unican.es/ss/SegurosSS/types/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.unican.es/ss/SegurosSS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.unican.es/ss/SegurosSS/types/" xmlns:sdm="http://www.unican.es/ss/SegurosDomain">
			
			<xsd:import namespace="http://www.unican.es/ss/SegurosDomain" schemaLocation="SegurosDomain.xsd"/>

			<xsd:complexType name="DatosNoValidos">
				<xsd:sequence>
					<xsd:element name="error" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="InfoSeguro">
				<xsd:sequence>
					<xsd:element name="tipoSeguro" type="sdm:SeguroTipo"/>
					<xsd:element name="precio" type="xsd:double"/>
					<xsd:element name="matricula" type="sdm:VehiculoMatricula"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ListaSeguros">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="SeguroCliente" type="sdm:Seguro"/>
				</xsd:sequence>
			</xsd:complexType>

			<!-- A partir del DNI de un cliente: retornar su lista de seguros -->
			<xsd:element name="RetornarListaSeguros" type="sdm:DNI"/>
			<xsd:element name="RetornarListaSegurosResponse" type="types:ListaSeguros"/>

			<!-- A partir del ID de un seguro: retornar su tipo, precio y matrícula del vehículo asociado -->
			<xsd:element name="RetornarDatosSeguro" type="sdm:SeguroID"/>
			<xsd:element name="RetornarDatosSeguroResponse" type="types:InfoSeguro"/>

			<!-- Error que retornan las operaciones al invocarlas con un valor que no corresponde a ningún cliente o seguro -->
			<xsd:element name="DatosNoValidos" type="types:DatosNoValidos"/>
		</xsd:schema>
  </wsdl:types>
  <wsdl:message name="RetornarDatosSeguroResponseMsg">
    <wsdl:part name="parameters" element="types:RetornarDatosSeguroResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetornarListaSegurosRequestMsg">
    <wsdl:part name="parameters" element="types:RetornarListaSeguros">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetornarListaSegurosResponseMsg">
    <wsdl:part name="parameters" element="types:RetornarListaSegurosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DatosNoValidosException">
    <wsdl:part name="error" element="types:DatosNoValidos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="RetornarDatosSeguroRequestMsg">
    <wsdl:part name="parameters" element="types:RetornarDatosSeguro">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SegurosSSInterface">
    <wsdl:operation name="RetornarListaSeguros">
<wsdl:documentation>Retorna la lista de seguros asociados al DNI de un cliente</wsdl:documentation>
      <wsdl:input message="tns:RetornarListaSegurosRequestMsg">
    </wsdl:input>
      <wsdl:output message="tns:RetornarListaSegurosResponseMsg">
    </wsdl:output>
      <wsdl:fault name="DatosNoValidosException" message="tns:DatosNoValidosException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetornarDatosSeguro">
<wsdl:documentation>Retorna el tipo, precio y matrícula del vehículo asociado a un ID de seguro</wsdl:documentation>
      <wsdl:input message="tns:RetornarDatosSeguroRequestMsg">
    </wsdl:input>
      <wsdl:output message="tns:RetornarDatosSeguroResponseMsg">
    </wsdl:output>
      <wsdl:fault name="DatosNoValidosException" message="tns:DatosNoValidosException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SegurosSSServiceSOAP" type="tns:SegurosSSInterface">
  <wsp:Policy wsu:Id="UsernameToken"
		xmlns:wsu="http://docs.oasis-open-org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SupportingTokens
					xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
					<wsp:Policy>
						<sp:UsernameToken
							sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
							<!--  REMOVE for text username/password -->
							<wsp:Policy>
								<sp:HashPassword />
							</wsp:Policy>
							<!--  END REMOVE -->
						</sp:UsernameToken>
					</wsp:Policy>
				</sp:SupportingTokens>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="RetornarListaSeguros">
      <soap:operation soapAction="http://www.unican.es/ss/SegurosSS/RetornarListaSeguros"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DatosNoValidosException">
        <soap:fault name="DatosNoValidosException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RetornarDatosSeguro">
      <soap:operation soapAction="http://www.unican.es/ss/SegurosSS/RetornarDatosSeguro"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DatosNoValidosException">
        <soap:fault name="DatosNoValidosException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SegurosSS">
    <wsdl:port name="SOAPPort" binding="tns:SegurosSSServiceSOAP">
      <soap:address location="http://localhost:8080/axis2/services/SegurosSS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
