ServicioAseguradoraProveedor/Aseguradora.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.unican.es/ss/Aseguradora/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:types="http://www.unican.es/ss/Aseguradora/types/"
	name="Aseguradora" targetNamespace="http://www.unican.es/ss/Aseguradora/">
	
	<!-- ABSTRACT SECTION -->
	<wsdl:types>
		<xsd:schema 
			xmlns:sdm="http://www.unican.es/ss/SegurosDomain" 
			targetNamespace="http://www.unican.es/ss/Aseguradora/types/">
			
			<xsd:import namespace="http://www.unican.es/ss/SegurosDomain" schemaLocation="resources/SegurosDomain.xsd"/>

			<xsd:complexType name="DatosNoValidos">
				<xsd:sequence>
					<xsd:element name="error" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="InfoSeguro">
				<xsd:sequence>
					<xsd:element name="tipoSeguro" type="sdm:SeguroTipo"/>
					<xsd:element name="precio" type="xsd:decimal"/>
					<xsd:element name="matricula" type="sdm:VehiculoMatricula"/>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="ListaSeguros">
				<xsd:sequence>
					<xsd:element name="SeguroCliente" minOccurs="0" maxOccurs="unbounded" type="sdm:Seguro"/>
				</xsd:sequence>
			</xsd:complexType>

			<!-- A partir del DNI de un cliente: retornar su lista de seguros -->
			<xsd:element name="RetornarListaSeguros" type="sdm:DNI"/>
			<xsd:element name="RetornarListaSegurosResponse" type="types:ListaSeguros"/>

			<!-- A partir del ID de un seguro: retornar su tipo, precio y matrícula del vehículo asociado -->
			<xsd:element name="RetornarDatosSeguro" type="sdm:SeguroID"/>
			<xsd:element name="RetornarDatosSeguroResponse" type="types:InfoSeguro"/>

			<!-- Error que retornan las operaciones al invocarlas con un valor que no corresponde a ningún cliente o seguro -->
			<xsd:element name="DatosNoValidos" type="types:DatosNoValidos"/>
		</xsd:schema>
	</wsdl:types>
	
	<wsdl:message name="RetornarListaSegurosRequestMsg">
		<wsdl:part name="parameters" element="types:RetornarListaSeguros"/>
	</wsdl:message>
	<wsdl:message name="RetornarListaSegurosResponseMsg">
		<wsdl:part name="parameters" element="types:RetornarListaSegurosResponse"/>
	</wsdl:message>
		<wsdl:message name="RetornarDatosSeguroRequestMsg">
		<wsdl:part name="parameters" element="types:RetornarDatosSeguro"/>
	</wsdl:message>
	<wsdl:message name="RetornarDatosSeguroResponseMsg">
		<wsdl:part name="parameters" element="types:RetornarDatosSeguroResponse"/>
	</wsdl:message>
	<wsdl:message name="DatosNoValidosException">
		<wsdl:part name="error" element="types:DatosNoValidos"/>
	</wsdl:message>
	
	<wsdl:portType name="AseguradoraInterface">
		<wsdl:operation name="RetornarListaSeguros">
			<wsdl:documentation>Retorna la lista de seguros asociados al DNI de un cliente</wsdl:documentation>
			<wsdl:input message="tns:RetornarListaSegurosRequestMsg"/>
			<wsdl:output message="tns:RetornarListaSegurosResponseMsg"/>
			<wsdl:fault name="DatosNoValidosException" message="tns:DatosNoValidosException"/>
		</wsdl:operation>
		<wsdl:operation name="RetornarDatosSeguro">
			<wsdl:documentation>Retorna el tipo, precio y matrícula del vehículo asociado a un ID de seguro</wsdl:documentation>
			<wsdl:input message="tns:RetornarDatosSeguroRequestMsg"/>
			<wsdl:output message="tns:RetornarDatosSeguroResponseMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<!-- CONCRETE SECTION -->
	<!-- Enlace SOAP -->
	<wsdl:binding name="AseguradoraServiceSOAP" type="tns:AseguradoraInterface">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RetornarListaSeguros">
			<soap:operation soapAction="http://www.unican.es/ss/Aseguradora/RetornarListaSeguros"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DatosNoValidosException">
				<soap:fault use="literal" name="DatosNoValidosException"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetornarDatosSeguro">
			<soap:operation soapAction="http://www.unican.es/ss/Aseguradora/RetornarDatosSeguro"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="DatosNoValidosException">
				<soap:fault use="literal" name="DatosNoValidosException"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<!-- Servicio -->
	<wsdl:service name="Aseguradora">
		<wsdl:port name="SOAPPort" binding="tns:AseguradoraServiceSOAP">
			<soap:address location="http://localhost:8080/axis2/services/Aseguradora"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
